/* Основные стили */
body {
    font-family: 'Arial', sans-serif;
    background-color: #E5F3FF;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 3rem;
    color: #FF6F61;
}

.story-text {
    font-size: 1.5rem;
    color: #4CAF50;
    margin-bottom: 30px;
}

.kitty-path {
    height: 50px;
    width: 100%;
    background-color: #f0f0f0;
    border-radius: 25px;
    margin: 30px 0;
    position: relative;
    background-image: url('images/background.jpg');
    background-size: cover;
}

.kitty {
    width: 40px;
    height: 40px;
    background-image: url('images/kitten.png');
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.question-title {
    font-size: 2rem;
    color: #4CAF50;
    margin-bottom: 20px;
}

.question-text {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.answer-buttons button {
    background-color: #FF6F61;
    color: white;
    font-size: 1.2rem;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.answer-buttons button:hover {
    background-color: #FF3D2F;
}

.result-text {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 20px;
}

.correct {
    color: green;
}

.wrong {
    color: red;
}

.next-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 30px;
}

.next-button:hover {
    background-color: #45a049;
}

.end-container {
    margin-top: 50px;
}

.mommy-image {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

.fireworks {
    background: url('images/fireworks.gif') center center no-repeat;
    height: 200px;
    width: 100%;
    background-size: cover;
}
